
.content {
    width: 90%;
    height:28rem;
    margin: 1rem auto;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.image {
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.textOverlay {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: white;
    text-align: left;
}

.title {
    overflow-wrap: break-word;
    word-break: break-word;
    margin-bottom: 0.5rem;
    max-width: 15rem;
    font-size: 2.5rem;
}

.lastUpdated {
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}
.imagePlaceholder {
    width: 100%;
    height: 100%;
    background-color: var(--color-neutral-200);
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 576px) {
    .content{
        max-height: 20rem;
    }
    .title {
        font-size: 1.25rem;
        max-width: max-content;
    }
    
    .lastUpdated {
        font-size: 0.85rem;
    }
    .textOverlay {
        padding-left: 1.5rem;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .content {
        max-height: 15rem;
    }
    .image {
        max-height: 15rem;
    }

    .title {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .lastUpdated {
        font-size: 0.9rem;
    }
    .textOverlay {
        padding-left: 2rem;
    }
}


@media (min-width: 992px) {
    .content{
       max-height: 20rem;
       border-radius: 1.875rem;
    }
    .image {
        max-height: 20rem;
    }
    .title {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }

    .lastUpdated {
        font-size: 1rem;
    }
    .textOverlay {
        padding-left: 2.5rem;
    }
}
@media (min-width: 1400px){
    .content {
        max-height: 20rem;
        width: 95%;
        border-radius: 2.5rem;
    }
    .image {
        max-height: 20rem;
        object-position: 50% 60%;
    }
}